[submodule "libavif-sys/libavif"]
	path = libavif-sys/libavif
	url = https://github.com/AOMediaCodec/libavif.git
[submodule "libaom-sys/vendor"]
	path = libaom-sys/vendor
	url = https://aomedia.googlesource.com/aom
[submodule "libavif-sys/dav1d"]
	path = libdav1d-sys/vendor
	url = https://code.videolan.org/videolan/dav1d.git
