name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  RUST_BACKTRACE: full

jobs:
  rustfmt:
    name: rustfmt / linux / stable
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install rust
        run: |
          rustup update --no-self-update stable
          rustup component add rustfmt

      - name: cargo fmt -- --check
        run: |
          cargo fmt --all -- --check

  clippy:
    name: clippy / linux / stable
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y ninja-build nasm meson

      - name: Install rust
        run: |
          rustup update --no-self-update stable
          rustup component add clippy

      - name: cargo clippy --all --examples
        run:
          cargo clippy --all --examples

  test:
    name: test / ${{ matrix.name }}
    runs-on: ${{ matrix.os || 'ubuntu-20.04' }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux / stable
            rust: stable
          - name: linux / stable / codec-aom
            features: "--no-default-features --features codec-aom"
          - name: linux / beta
            rust: beta
          - name: linux / nightly
            rust: nightly
          - name: linux / 1.46.0
            rust: 1.46.0
          - name: macOS / stable
            os: macOS-latest
          - name: macOS / stable / codec-aom
            os: macOS-latest
            features: "--no-default-features --features codec-aom"
          - name: windows / stable
            os: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install dependencies (linux)
        if: (matrix.os || 'ubuntu-20.04') == 'ubuntu-20.04'
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get install -y ninja-build nasm meson

      - name: Install dependencies (macOS)
        if: matrix.os == 'macOS-latest'
        run: |
          brew install ninja nasm meson

      - name: Install dependencies (windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install -y ninja
          pip install meson

      - name: Install nasm (windows)
        if: matrix.os == 'windows-latest'
        run: |
          $NASM_VERSION="2.15.02"
          $LINK="https://www.nasm.us/pub/nasm/releasebuilds/$NASM_VERSION/win64"
          curl -LO "$LINK/nasm-$NASM_VERSION-win64.zip"
          7z e -y "nasm-$NASM_VERSION-win64.zip" -o"C:\nasm"
          echo "C:\nasm" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install rust
        run: |
          rustup default ${{ matrix.rust || 'stable' }}
          rustup update --no-self-update ${{ matrix.rust || 'stable' }}

      - name: Test (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          call "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          cargo test ${{ matrix.features }} --all

      - name: Test (Linux, macOS)
        if: matrix.os != 'windows-latest'
        run: |
          cargo test ${{ matrix.features }} --all


